@model IEnumerable<StudentiMVC_CRUD.Models.Studente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Aggiungi Studente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascita)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascita)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.Id, @class="btn btn-warning" }) |
            @Html.ActionLink("Dettagli", "Details", new { id=item.Id, @class = "btn btn-primary" }) |
            @Html.ActionLink("Elimina", "Delete", new { id=item.Id, @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
